[project]
	description = Mirror of oflops (cbench) from git://gitosis.stanford.edu/oflops.git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jianhaoch
[access "refs/for/refs/*"]
	read = group user/jianhaoch
	push = group user/jianhaoch
	label-Code-Review = -2..+2 group user/jianhaoch
	label-Verified = -1..+1 group user/jianhaoch
	rebase = group user/jianhaoch
	removeReviewer = group user/jianhaoch
	submit = group user/jianhaoch
[access "refs/heads/*"]
	read = group user/jianhaoch
	create = group user/jianhaoch
	push = +force group user/jianhaoch
	pushMerge = group user/jianhaoch
[access "refs/tags/*"]
	push = +force group user/jianhaoch
	pushTag = group user/jianhaoch
	pushSignedTag = group user/jianhaoch
